a._2tbHP6ZydRpjI44J3syuqC.s1461iz-1.gWXVVu {
    color: #ff0000;
}

a.s1i3ufq7-0.bsfRLa {
    font-weight: normal;
}

div.rybpsf-0.isNqYD {
    margin-left: 0;
    padding: 0;
    width: 100%;
}

div.s1h2bho5-0.hYdxyl.s1b6i22f-0.erzOMB {
    margin-left: 0;
    width: 100%;
}

div.s1h57n9e-1.ezNhOn {
    margin-left: 0;
}

div.s1je7f5j-0.fbrMss {
    margin-top: 20px;
}

div.s1jtt59r-5.kRzhyR {
    margin-bottom: 0;
    margin-top: 0;
    width: 100% ;
}

div.s783mq8-2.hWiAhy {
    margin-left: 0;
    width: 100%;
}

div.s783mq8-3.cvcKdM {
    margin: 0;
    padding: 0;
}

div.s88spds-1.btNQdA.iddame-0.ckWFLJ {
    display: none;
}

div.vz95qm-0.gmjdoZ {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

h2 {
    color: #014980 ;
    font-weight: 500;
}

